.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.serverList {
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.serverItem {
  text-decoration: none;
}

.serverList::-webkit-scrollbar {
  display: none;
}
